<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% load static %}
  {% csrf_token %}
  {% bootstrap_javascript %}
</head>
<link rel = "stylesheet" href='{% static "css/cssIndex1.css" %}'>
<body>
    <!--navbarcode -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hours">Hours</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="car_page">Cars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="booking">Book Now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="manufacturer">Manufacturers</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--navbarcode end -->

    </div>
    <h1>Buy a Ticket!</h1>
    <h3>Valid Forever</h3>
    <div id="ticket">
        <form method="POST" action="{% url 'ticket' %}">
            {% csrf_token %}
            <div class="messages"></div>

            <div class="controls">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_name">Firstname *</label>
                            <input id="form_name" type="text" name="name" class="form-control" placeholder="Enter your firstname *" required="required" data-error="Firstname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_lastname">Lastname *</label>
                            <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Enter your lastname *" required="required" data-error="Lastname is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control" placeholder="Enter your email *" required="required" data-error="Valid email is required.">
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                </div>
                <br>
                <p>Adults: $10ea Kids: $2ea</p>
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Amount of Adults* </label>
                        <input type="number" id="Adults" name="Adults" min="1" max="100">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="form_message">Amount of Kids 12 and under*</label>
                        <input type="number" id="Kids" name="Kids" min="1" max="100">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label for="TotalCost">Total cost:</label>
                      <input type="text" id="TotalCost" name="TotalCost" readonly>
                    </div>
                  </div>
                  <script>
                    const kidsInput = document.getElementById('Kids');
                    const adultsInput = document.getElementById('Adults');
                    const totalCostInput = document.getElementById('TotalCost');

                    function calculateTotalCost() {
                    const adultsPrice = 10;
                    const kidsPrice = 2;
                    const adultsCount = parseInt(adultsInput.value) || 0;
                     const kidsCount = parseInt(kidsInput.value) || 0;
                         const totalCost = adultsCount * adultsPrice + kidsCount * kidsPrice;
                        totalCostInput.value = totalCost;
                        }

                    adultsInput.addEventListener('input', calculateTotalCost);
                        kidsInput.addEventListener('input', calculateTotalCost);

                  </script>
                  


                    <div class="col-md-12">
                        <button type="submit">Buy Now!</button>
                    </div>
                </div>
            </div>

        </form>

      <a class="link" href="contact_us">Contact Us!</a>

</body>
</html>


